.head {
  color: darkblue;
  text-align: center;
  font-weight: bold;
  font-family: Lucida;
  background-color: blanchedalmond;
  width: 45%;
  border: 20px solid rgb(73, 10, 10);
  margin: auto;
  margin-bottom: 50px;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  background-image: url(../img/seattle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkblue;
  box-sizing: border-box;
  }

.about {
  text-align: left;
  width: 50%;
  padding: 30px;
  border: solid black;
  border-width: 30px;
  background-color: darkolivegreen;
  margin-bottom: 100px;
  height: auto;
  
}

img{
  float: left;
  max-width: 20%;
}

.centered-image {
  width: 50%;
  height: auto;
}

.name {

}

a:link {
  color: beige;
}

a:visited {
  color: skyblue
}