.head {
  color: darkblue;
  text-align: center;
  font-weight: bold;
  font-family: Lucida;
  background-color: blanchedalmond;
  width: 45%;
  border: 20px solid rgb(73, 10, 10);
  margin: auto;
  margin-bottom: 50px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
  background-image: url(../img/seattle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkblue;
  box-sizing: border-box;
  }

.column {
  width: auto;
  margin-right: 10px;
}

.about {
  text-align: left;
  width: 35%;
  padding: 30px;
  border: solid rgba(0, 0, 0, .8);
  border-width: 30px;
  background-color: rgba(85, 107, 47, 0.5);
  margin-bottom: 100px;
  height: auto;
}

img{
  float: left;
  max-width: 20%;
}

.centered-image {
  width: 50%;
  height: auto;
}

.name {

}

.project {
  text-align: left;
  width: 35%;
  padding: 30px;
  border: solid rgba(0, 0, 0, 0.8);
  border-width: 30px;
  background-color: rgba(31, 103, 197, 0.5);
  margin-bottom: 100px;
  height: auto;
}

a:link {
  color: beige;
}

a:visited {
  color: skyblue
}